import /vendor.init.hi3650.rc
import /init.hisi.rc

import /init.audio.rc
import /init.connectivity.rc
import /init.device.rc
import /init.extmodem.rc
import /init.manufacture.rc
import /init.performance.rc
import /init.platform.rc
import /init.protocol.rc
import /init.41038.rc

#import /vendor.init.rc

import /init.post-fs-data.rc
