NEXT_IMX179_LITEON=/system/etc/camera/hwldc/imx179_front_liteon/
NEXT_IMX179_SUNNY=/system/etc/camera/hwldc/imx179_front_sunny/
EVA_IMX179_LITEON=/system/etc/camera/hwldc/imx179_front_liteon/
EVA_IMX179_SUNNY=/system/etc/camera/hwldc/imx179_front_sunny/
KNIGHT_IMX179_SUNNY=/system/etc/camera/hwldc/imx179_front_sunny/
KNIGHT_IMX179_LITEON=/system/etc/camera/hwldc/imx179_front_liteon/
FRD_IMX179_SUNNY=/system/etc/camera/hwldc/imx179_front_sunny/
FRD_IMX179_LITEON=/system/etc/camera/hwldc/imx179_front_liteon/
EDISON_OV8856_SUNNY=/system/etc/camera/hwldc/ov8856/
EDISON_IMX219_LITEON=/system/etc/camera/hwldc/imx219/
EDISON_HI843_OFLIM=/system/etc/camera/hwldc/hi843/

